html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #f5f5f5;
}
a {
	color: #002eb3;
}
div.wrapper {
	width: 960px;
	margin: 0 auto;
}
div#top {
	text-align: right;
	background: #333333;
	color: #ffffff;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 990;
}
div#top-wrapper {
	padding: 10px 20px;
}
div#top a {
	color: #ffffff;
	text-decoration: none;
}
div#body-wrapper {
	padding-top: 40px;
}
div#navigation {
	width: 209px;
	min-height: 300px;
	float: right;
	margin-left: 10px;
	padding: 0 10px 20px 10px;
	border-left: 1px solid #cecece;
}
div#navigation a {
	text-decoration: none;
	color: #666666;
}
div#navigation ul {
	padding: 0 0 0 15px;
}
div#navigation > ul {
	padding: 0;
	margin: 0;
}
div#navigation ul li {
	list-style: none;
	margin: 10px 0 0 0;
}
div#logo {
	text-align: center;
}
div#content {
	width: 720px;
	float: left;
}
div#footer {
	padding: 20px 0 40px 0;
}
