h2.expand_heading, h2.expand_heading_link {
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
    width: 90%;
    font-size: 2em;
    font-weight: normal;
    float: left;
}
.expand_all
{
cursor:default;
}
h2.expand_heading a, h2.expand_heading_link a  {
	background:url('../images/arrow.png') 0px 4px no-repeat;
    color: #5F3812;
	font-size: 12px;
    text-decoration: none;
    display: block;
	padding: 0px 0px 7px 20px;
}
h2.expand_heading a:hover {
    text-decoration: underline;
}
 
h2.active {background-position: left bottom;}
.toggle_container {
    margin: 0 0 5px;
    padding: 0;
    overflow: hidden;
    font-size: 1.2em;
    width: 220px;
    clear: both;
}
.toggle_container .box {
    padding: 0px 0px 0px 39px;
}
.toggle_container .box p {
	margin: 0px 0px 5px;
	padding: 0px;
	font-size: 12px;
}
.toggle_container h3 {
    font: 2.0em normal Georgia, "Times New Roman", Times, serif;
    margin: 0 0 5px;
    padding: 0 0 5px 0;
    color:#000000;
    border-bottom: 1px dotted #ccc;
}
.toggle_container img {
    float: left;
    margin: 10px 15px 15px 0;
    padding: 5px;
    background: #ddd;
    border: 1px solid #ccc;
}
.expand_all
{
width:116px;
height:29px;
background:url(extra_buttons.png) no-repeat top left;
float:right;
cursor: pointer;
}
.expanded
{
background-position:bottom left;
}