html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #f5f5f5;
}

.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}
.right {
	text-align: right !important;
}
img {
	border: 0;
}
div.wrapper {
	width: 960px;
	margin: 0 auto;
}
div#top {
	text-align: right;
	background: #333333;
	color: #ffffff;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 990;
}
div#top-wrapper {
	padding: 10px 20px;
}
div#top a {
	color: #ffffff;
	text-decoration: none;
}
div#body-wrapper {
	padding-top: 40px;
}
div#navigation {
	width: 209px;
	min-height: 300px;
	float: right;
	margin-left: 10px;
	padding: 0 10px 20px 10px;
	border-left: 1px solid #cecece;
}
div#navigation a {
	text-decoration: none;
	color: #666666;
}
div#navigation ul {
	padding: 0 0 0 15px;
}
div#navigation > ul {
	padding: 0;
	margin: 0;
}
div#navigation ul li {
	list-style: none;
	margin: 10px 0 0 0;
}
div#logo {
	text-align: center;
}
div#content {
	width: 720px;
	float: left;
}
div#footer {
	padding: 20px 0 40px 0;
}
h1.page-title {
	float: left;
	padding: 0;
	margin-right: 20px;
}
div.content-header {
	border-bottom: 1px solid #cecece;
	margin-bottom: 20px;
}
div.content-header .page-nav {
	margin-top: 15px;
}
div.content-header .page-nav > ul {
	margin-bottom: 0;
}
div.content-body {
	min-height: 300px;
}
div.version {
	border-top: 1px solid #cecece;
	padding: 20px 0;
	margin-top: 20px;
	font-size: 9px;
	text-align: center;
	color: #cecece;
}
div.version a {
	color: #cecece;
}
div.choose-select {
	margin-top: 20px;
}
select.t-time {
	width: 60px;
}
input.datepicker {
	width: 150px;
}

/****** jQuery UI Overrides ******/
.datepicker {
	cursor: pointer !important;
	padding: 5px !important;
	background: #ffffff !important;
	border: 1px solid #cccccc !important;
}
img.ui-datepicker-trigger {
	display: none;
}
label.error {
	float: none;
	text-align: left;
	width: 100%;
	color: #a20000;
	display: block;
	font-size: 100%;
}

/****** Bootstrap Overrides ******/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 12px;
}
h1 {
	padding-bottom: 20px;
}
table.table-list {
	width: 100%;
}
table.table-form {
	width: 100%;
}
table.table-form th {
	padding-right: 10px;
	width: 150px;
	text-align: right;
}
table.table-form th, table.table-form td {
	padding: 10px;
	vertical-align: top;
}
table.table-list th.checkbox {
	width: 13px;	
	padding: 0;
	margin: 0;
	text-align: center;
}
table.table-list th.checkbox input[type="checkbox"] {
	padding: 0;
	margin: 0;	
	float: none;
}
table.table-list th, table.table-list td {
	padding: 10px;
}
div.page-nav {
	float: right;
}
div.sidebar-nav {
	border-right: 1px solid #cecece;
	padding-bottom: 40px;
}
div.pagination {
	text-align: center;
}

/*** tablesorter ***/
table .header {
	cursor: pointer;
}
table .header:after {
	content: "";
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #000 transparent;
	visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
	background-color: rgba(141, 192, 219, 0.25);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
	visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
	visibility: visible;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
table .headerSortUp:after {
	border-bottom: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	visibility: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.form-max-width {
	width: 528px;
}