@import url('jquery-ui-1.8.16.custom.css');
@import url('jquery-ui-extended.css');

html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}
.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}
.right {
	text-align: right !important;
}
img {
	border: 0;
}
div.clear {
	height: 0;
	clear: both;
}
label.error {
	color: #a20000;
	display: block;
	font-size: 80%;
}
.datepicker {
	cursor: pointer !important;
	padding: 5px !important;
}
table.table-form th {
	width: 150px;
	text-align: right;
}