@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	margin:0;
	padding:2px;
}

.centerText {
  text-align: center;
}
.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
.clr_both{
	clear:both;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight:400;
  line-height:normal;
}
.header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.header .block{
	padding:5px 5px 0;
	border:1px solid #9783a8;
}
.header .connectBlock{
  width: 210px;
  float: left;
}
.header .label_ {
  padding-bottom: 3px;
  font-weight: 900;
}
.header .smi .label_ {
  border-bottom: 1px solid;
}
.smi a{
	background-position:center center;
	background-repeat:no-repeat;
	display:inline-block;
	line-height:32px;
	width:32px;
	border-radius:50%;
	border:2px solid #2d2936;
	margin:4px;
}
.smi .fb{
	background-image:url(../images/fb.png);
}
.smi .pin{
	background-image:url(../images/pi.png);
}
.smi .tw{
	background-image:url(../images/tw.png);
}
.smi .insta{
	background-image:url(../images/in.png);
}
.header .smi a:hover{
	background-color:#9783a8;
}
.header .cart{
	text-align:left;
}
.header .cart .label_{
	text-align:left;
	border-bottom: 1px solid #9783A8;
}
.header .cart .bag{
	vertical-align:bottom;
	margin: 0 5px 0 0;
}
.header .cart .arrow{
	float:right;
	margin: 10px 5px 5px;
}
.header .cart table{
	width:100%;
	color:#9783a8;
	margin:5px 0;
}
.logo{
  display: inline-block;
}
.main_menu{
	background:#2d2936;
}
.main_menu .item_cont{
	float:left;
	border-left:1px solid #443c54;
	border-right:1px solid #1b1821;
}
.main_menu .item{
	float:left;
	color:#fff;
	text-align:center;
	padding:17px 0;
	border-left:1px solid #1b1821;
	border-right:1px solid #443c54;
	font-weight:900;
}
.main_menu .item a{
	color:#fff;
	padding: 5px 20px;
	margin: 0 20px;
	display:block;
	line-height:25px;
	text-decoration:none;
}
.main_menu .item a:hover{
	background:#9783a8;
	color:#2d2936;
}
.main_menu form{
	float:right;
	margin:10px 0 0;
}
.main_menu .search_btn{
	height:26px;
	width:31px;
	margin-left:-5px;
	background:#9783a8 url(../images/search_btn.png) center center no-repeat;
	border:0;
}
.main_menu input[type='text']{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding:2px;
	margin:0;
	width:180px;
}
.main_menu form a{
	background: #9783A8;
	text-decoration:none;
	display:inline-block;
	width:106px;
	color:#fff;
	text-align:center;
	line-height:25px;
	font-size: 12px;
}
.main_menu form .fields{
	margin:5px 0;
}
.main_content{
	padding:30px 0;
}
.featured_products{
	margin:30px 0;
}
.featured_products .heading{
	text-align:center;
	font-weight:900;
	font-size: 16px;
	padding:0 0 3px;
	border-bottom:2px solid #9783a8;
}
.featured_products .slider .nav_cont{
	position:absolute;
	top:0;
	bottom:0;
	z-index:9;
	background:url(../images/slide_nav_bg.png);
	display:none;
}
.featured_products .slider:hover .nav_cont{
	display:block;
}
.featured_products .slider .nav_cont.right{
	right:0;
}
.featured_products .slider .nav_cont.left{
	left:0;
}
.featured_products .slider .nav_cont img{
	margin: 85px 20px 0;
	cursor:pointer;
}
.featured_products .slider{
	margin:30px 0 0;
	position:relative;
}
.featured_products .list_cont{
	list-style:none;
	margin:0;
	padding:0;
}
.featured_products .list_cont a{
	width:100%;
	color:#fff;
	background:#2d2936;
	line-height:50px;
	position:absolute;
	font-size:18px;
	text-align:center;
	font-weight:900;
	text-decoration:none;
	bottom:0;
	display:none;
}
.featured_products .list_cont li:hover a{
	display:block;
}
.featured_products .list_cont li{
	float:left;
	margin:0 10px;
	width:293px;
}
.featured_products .list_cont .img_cont{
	height:180px;
	position:relative;
	text-align:center;
}
.featured_products .list_cont .blur{
	background: url(../images/product_blur.png);
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	display:none;
}
.featured_products .list_cont li:hover .blur{
	display:block;
}
.featured_products .list_cont img{
	width:100%;
	max-height:180px;
}
.featured_products .desc{
	padding:10px 5px;
	background:#f3edf8;
	font-size:16px;
	line-height:23px;
}
.featured_products .title{
	font-weight:900;
	font-size:18px;
}


.footer{
	background:#2d2936;
	color:#fff;
	padding:15px;
	font-size:12px;
	line-height:normal;
}
.footer .top{
	border-bottom:1px solid #a1a1a1;
	padding: 0 0 20px;
}
.footer .top .division{
	margin:0 20px 0 0;
	float:left;
	min-width:145px;
}
.footer .top .first.division{
	width:200px;
	margin-right:30px;
}
.footer .top .division label{
	padding: 0 0 8px;
	margin:0;
	border-bottom:1px solid #fff;
}
.footer .top .division ul{
	list-style:none;
	margin:0;
}
.footer .top .first label{
	font-size:16px;
	border:0;
}
.footer .top .first .field{
	width:188px;
	line-height:normal;
	height:12px;
	font-size:12px;
	padding:3px 5px;
}
.footer .top .first .submit{
	border:1px solid #fff;
	background:#2d2936;
	color:#fff;
	font-size:12px;
	line-height: normal;
	width:50px;
	text-align:center;
	display:block;
	margin:10px 0 0 auto;
}

.footer .smi.division {
	float:right;
	margin:0;
	text-align:center;
}
.footer .smi label{
	font-size:16px;
}
.footer a{
	color:#fff;
}
.footer .smi a{
	background-position:center center;
	background-repeat:no-repeat;
	display:inline-block;
	line-height:32px;
	width:32px;
	border-radius:50%;
	border:2px solid #fff;
	margin:10px 4px 0;
}
.footer  .smi .fb{
	background-image:url(../images/fb2.png);
}
.footer  .smi .pin{
	background-image:url(../images/pi2.png);
}
.footer  .smi .tw{
	background-image:url(../images/tw2.png);
}
.footer  .smi .insta{
	background-image:url(../images/in2.png);
}
.footer  .bottom{
	padding:20px 0 0;
}
.footer  .bottom .copy{
	float:right;
}

.page_container{
	margin:40px auto;
	background:#e7e5eb;
}
.page_content{
	font-size:16px;
	line-height:30px;
}
.about-us img{
	float:left;
	margin: 0 20px 0;
}
.page_content .title{
	font-size:50px;
	font-weight:300;
	line-height:normal;
	margin:0 0 30px;
}
.products .heading {
	text-align: center;
	font-weight: 900;
	font-size: 16px;
	border-bottom: 2px solid #9783A8;
	padding:0 0 3px;
}

.products .list{
	margin:20px 0;
}
.products .item a{
	width:100%;
	color:#fff;
	background:#2d2936;
	line-height:50px;
	position:absolute;
	font-size:18px;
	text-align:center;
	font-weight:900;
	text-decoration:none;
	bottom:0;
	display:none;
}
.products .item:hover a{
	display:block;
}
.products .item{
	float:left;
	margin:0 10px 30px;
	width:293px;
}
.products .item .img_cont{
	height:180px;
	position:relative;
	text-align:center;
	overflow:hidden;
}
.products .item .blur{
	background: url(../images/product_blur.png);
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	display:none;
}
.products .item:hover .blur{
	display:block;
}
.products .item img{
	width:100%;
	max-height:180px;
}
.products .item .desc{
	padding:10px 5px;
	background:#f3edf8;
	font-size:16px;
	line-height:23px;
	height:70px;
	overflow:hidden;
}
.products .item .title{
	font-weight:900;
	font-size:18px;
}

.product_view {
	line-height:normal;
}
.product_view .left{
	float:left;
}
.product_view .right{
	float:right;
	width:400px;
	font-size:12px;
}
.product_view .right .name{
	font-size:28px;
	text-transform:uppercase;
	color:#9783a8;
}
.product_view .right .price{
	font-size:28px;
	color:#595959;
}
.product_view .description{
	color:#595959;
	line-height:20px;
}
.product_view .description label{
	color:#9783a8;
	font-size:18px;
	margin:0 0 15px;
	display:block;
}
.product_view form{
	background:#efeeea;
	text-align:center;
	background:#efeeea;
	padding:20px 0;
	margin:40px auto;
	color:#a7a7a7;
	line-height:25px;
}
.product_view .right .quantity{
	text-align:center;
	height:33px;
	width:50px;
	font-size:18px;
	border:1px solid #c6c6c6;
	border-bottom:5px solid #c6c6c6;
}
.product_view .right .add_btn{
	background:#9783a8;
	color:#fff;
	border:0;
	line-height:36px;
	display:inline-block;
	width:115px;
	font-size:18px;
	margin-left:-4px;
	border-bottom:5px solid #2d2936;
}
.product_view .left{
	width:500px;
}
.product_view .images .main{
	width:370px;
	padding:1px;
	border:2px solid #9783a8;
	float:left;
}
.product_view .images .main img{
	width:100%;
}
.product_view .images .thumbs{
	float:right;
}
.product_view .images .thumbs .cont{
	border:2px solid #9783a8;
	margin:0 0 10px;
}
.product_view .thumbs .cont img{
	width:100%;
}

.product_view .related_products{
	padding:50px 0 0;
}
.product_view .related_products .heading{
	text-align:center;
	font-weight:900;
	font-size: 16px;
	border-bottom:2px solid #9783a8;
	margin: 0 0 20px;
	padding:0 0 3px;
}

.product_view .related_products .item a{
	width:100%;
	color:#fff;
	background:#2d2936;
	line-height:50px;
	position:absolute;
	font-size:18px;
	text-align:center;
	font-weight:900;
	text-decoration:none;
	bottom:0;
	display:none;
}
.product_view .related_products .item:hover a{
	display:block;
}
.product_view .related_products .item{
	float:left;
	margin:0 10px 30px;
	width:293px;
}
.product_view .related_products .item .img_cont{
	height:180px;
	position:relative;
	text-align:center;
	overflow:hidden;
}
.product_view .related_products .item .blur{
	background: url(../images/product_blur.png);
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	display:none;
}
.product_view .related_products .item:hover .blur{
	display:block;
}
.product_view .related_products .item img{
	width:100%;
	max-height:180px;
}
.product_view .related_products .item .desc{
	padding:10px 5px;
	background:#f3edf8;
	font-size:16px;
	line-height:23px;
	height:70px;
	overflow:hidden;
}
.product_view .related_products .item .title{
	font-weight:900;
	font-size:18px;
}
.faqs.page_content .title{
	line-height:normal;
}
.faqs.page_content *{
	line-height:30px;
}