html {
	height:100%;	
}

body {
	margin: 0px;
	color:#5f3812;
	font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
	font-size:12px;
	height:100%;
	text-align:left;
}
a {
text-decoration:none;
color:inherit;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:none;
}

a img:hover {
	opacity:0.8;
	filter: alpha(opacity = 80);
	zoom: 1;
}
a img:active {
	opacity:0.9;
	filter: alpha(opacity = 90);
	zoom: 1;
}

#menu {
	height:40px;
	line-height:40px;
	color:white;
	font-size:14px;
	font-weight:bold;
	background:url(images/menu-header.jpg) 0 0 repeat-x;
}

#menu td {
text-align:center;
}

#menu .item:hover {
	color:#5f3812;
}
#menu .item {
	display:block;
	height:62px;
	background:url(images/menu-shadow.png) left 0 no-repeat;
	
}
#menu .item span.last {
	display:block;
	height:62px;
}
#menu .last {
	background:url(images/menu-shadow.png) right 0 no-repeat;
}
#menu .last-td {
	background:url(images/menu-shadow.png) left 0 no-repeat;
}

#menu .item {
	text-decoration:none;
	color:white;
/}
.page {
	width:930px;
	margin:0 auto;
}

#page {
	width:930px;
	margin:0 auto;
	padding:10px 0;
}
#header {
	text-align:right;
	margin-bottom:10px;
}
#cart {
	color:#5f3812;
	font-size:10px;
	text-decoration:none;
	
}
#cart img {
	vertical-align:top;
	padding-right:2px;
}

#banner {
	height:175px;
	width:100%;
	position:relative;
	}

#sidemenu {
	background:#6ededc;
	width:220px;
	float: left;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	z-index:10;
}

#sidemenu #search {
	padding:14px 14px 7px;
}

#search input[type="text"]{
	border:1px solid #9ff5f3;
	width:145px;
	}
#search input {
	vertical-align:top;
}

#sidemenu ul {
	list-style-image:url('images/arrow.png');
	margin:0;
	padding-top:7px;
	background:url(images/search-footer.png) center top no-repeat;
}

#sidemenu ul li {
	padding:8px;
}

#social {
	float: right;
	z-index:100000;
}

#banner .sliders   {
	overflow:hidden;
	height:175px;
}
#banner .sliders img  {
	width:930px;
}

#content {
	width: 690px;
	float: right;
	padding: 0px 0px 0px 10px;
}
#content .article_content {
	font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
	color:black;
}
.productlist .productlist_table {
	table-layout:fixed;
}
.productlist .product_item {
	width:200px;
	text-align:center;
	margin-top:25px;
}
.productlist .product_image img{
	max-width:258px;
	max-height:135px;
	
}
.productlist .product_image {
	border:4px solid #ebcfa7;
	width:190px;
	height:135px;
	background:black;
}
.productlist .pagination ul li.active{
	font-weight:bold;
}
.productlist .pagination ul li{
	display:inline-block;
	padding:0 3px;
}
.productlist .product_name, .productlist .product_price {
	text-align:center;
	font-size:12px;
}
.productlist .product_name {

}

#footer {
background:url(images/bg.jpg) 6% 0%  repeat-x white;
height:auto;
padding-bottom:25px;
text-align:center;
margin:0 auto;
}

#footer table {
	table-layout:fixed;
}

#footer .handmade {
	margin:30px 0 15px;
}

.productlist
{

}

#logo img
{
	width: 223px;
}

#logo
{
	margin: 0px 0px 10px 0px;
}

#wrapper
{
	width: 930px;
}

.wrapper
{
	vertical-align: top;
}

#sidecontent
{
	float: left;
    width: 220px;
}

#sidemenu-links
{
	display: block;
	padding: 10px 0px 0px 0px;
	width: 220px;
	float: left;
	text-align: center;
}

#sidemenu-links p a:hover
{
	text-decoration: underline;
}

#sidemenu-links p
{
	margin: 5px 0px 5px 20px;
	color: #fff;
	background:#f8c263;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px;
	width: 175px;
}

.customerinfo {
	float:left;
	width:420px;
}

.paymentinfo {
	float:right;
	width:260px;	
}

.clr {
	clear:both;
}